<!-- any caracteres on html, esto se ocupa el file main para verse-->
<div class="card">
    <div class="card-body">
        <h1> About</h1>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat culpa a, fugiat beatae alias nam ut laboriosam reprehenderit, fuga dicta, nostrum quibusdam consequatur rem pariatur eaque sed quo nulla reiciendis? Dolorem, corrupti dolores! Optio maiores in quasi libero cupiditate molestiae.</p>
        
    </div>
</div>