<!-- escribnir página principal y página de about-->
<!-- se llama en ./views/layouts/main.hbs-->
<div class="jumbotron-mt-4">
    <h1 class="display-4">MyPlayListApp con node js</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, numquam!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequuntur molestias nobis neque doloribus hic veritatis perferendis fugiat debitis rerum.</p>
    <a href="https://www.youtube.com/watch?v=-bI0diefasA&t" class="btn btn-primary btn-lg">FaztWeb</a>
</div>

